* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff6900;

    padding: 1rem 3rem;
}

main {
    padding: 3rem 10rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    color: white;

    padding: 1rem 13rem;
}

nav ul,
footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul > li {
    padding-right: .8em;
    font-size: .9rem;
}

nav img {
    width: 10%;
}

div.row {
    display: flex;

    margin-left: 2rem;
}
div.row article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc((100% / 3) - 1rem);
    padding: .5rem 1rem;

    position: relative;
}

article img {
    width: 100%;
}

.absolute {
    position: absolute;
}

.bottom-left {
    bottom: 5rem;
    left: 1.06rem;
}

.bottom-left2 {
    bottom: 5rem;
    left: 3.5rem;
}

.top-right {
    top: .8rem;
    right: 1rem;
}

.green {
    background-color: #007f02;
}

.red {
    background-color: #ff0000;
}

.white {
    background-color: white;
}

.testo-bianco {
    color: white;
}

.testo-rosso-sbarrato {
    color: red;
    text-decoration-line: line-through;
}

.sale,
.sostenibilita {
    font-size: .6rem;
    padding: .25rem .4rem;
}

.font-cuore {
    font-size: 1.2rem;
    padding: .2rem .6rem;
}


.fa-regular,
.fa-solid,
.fa-brands {
    color: white;
}


article h1 {
    font-size: .5rem;
    padding-top: .2rem;
    font-weight: 100;
}

article h2{
    font-size: .9rem;
    text-transform: uppercase;
    padding-top: .1rem;

}

article span {
    font-size: .6rem;
    font-weight: 100;
}

.sezione-legale {
    display: flex;
}

footer p {
    padding-right: .8rem;
}

footer h1 {
    font-size: .7rem;
    padding-bottom: .3rem;
}

footer p {
    font-size: .5rem;
}

div.sezione-collegamenti-footer {
    display: flex;
    justify-content: center;

}

footer a {
    padding-right: .5rem;
}